.home {
    display: flex;
    height: 100vh;
    position: relative;

    .home-content {
        .text-1 {
            font-size: 27px;
        }
        .text-2 {
            font-size: 75px;
            font-weight: bold;
            margin-left: -5px;

            @media (max-width: 768px) {
                font-size: 50px;
            }
        }
        .text-3 {
            font-size: 45px;
            margin: 5px 0;

            span{
                color: #2c7ae7;
            }
        }

        a{
            display: inline-block;
            background-color: #2c7ae7;
            color: #fff;
            font-size: 25px;
            padding: 12px 36px;
            margin-top: 20px;
            border-radius: 6px;
            border: 2px solid #2c7ae7;
            transition: .3s ease;

            &:hover{
                color: #2c7ae7;
                background-color: #000;
            }
        }
    }
}
